body {
    background-color:#111111;
}
h1 {
    color: #fff;
    font: normal 30pt Arial;
    padding: 10px;
    text-align: center;
}
p {
    text-align: center;
    color: #fff;
    font: normal 20pt Arial;
}
img {
    cursor: pointer;
}

iframe {
    padding-left: 35%;
}

a {
    color: #fff;
    font: normal 16pt Arial;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}